@model Web.Models.Account.LocalPasswordModel

<hgroup class="title">
    <h1>Editar conta.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Você está logado como <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Adicione um login externo</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}